name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:

  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      - name: Build backend
        working-directory: eCommerce-spring-angular-main/backend
        run: mvn clean install -DskipTests


  frontend:
    runs-on: ubuntu-latest
    needs: backend
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: eCommerce-spring-angular-main/frontend
        run: npm install

      - name: Build Angular
        working-directory: eCommerce-spring-angular-main/frontend
        run: npm run build --prod

